[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/Vulkan-Headers"]
	path = lib/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "lib/EventBus"]
	path = lib/EventBus
	url = https://github.com/gelldur/EventBus.git
[submodule "lib/libmorton"]
	path = lib/libmorton
	url = https://github.com/Forceflow/libmorton
[submodule "lib/doxygen-awesome-css"]
	path = lib/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "docs/wiki"]
	path = docs/wiki
	url = https://github.com/RedNicStone/CubiCAD.wiki.git
[submodule "lib/shaderc"]
	path = lib/shaderc
	url = https://github.com/google/shaderc
[submodule "lib/tinyobjloader"]
	path = lib/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "lib/stb-cmake"]
	path = lib/stb-cmake
	url = https://github.com/gracicot/stb-cmake
